# Python
__pycache__/
*.py[cod]
*$py.class
*.egg*
*.manifest
.cache
build/
dist/
src/
htmlcov/
coverage.xml
.coverage
.env
.venv
venv/
ml-agents/

# Jupyter Notebook
.ipynb_checkpoints

# NodeJS
node_modules/

# Gym
gym/

# System
.DS_Store

# Unity environment
*.app

# Data files
config/
!config/example_default.json
!config/experiments.json
data/
model/
nb.py
*.html
*.log
*.meta
*.tfl*
*.xls
*.xlsx
*checkpoint*
