# System
**/.DS_Store

# IDEs
**/.idea

# Python
**/__pycache__
**/*.py[cod]
**/*$py.class
**/*.egg*
**/*.manifest
**/.pytest*
**/.cache
**/dist/
**/src
**/htmlcov
**/coverage.xml
**/.coverage*
**/.env

# NodeJS
**/node_modules

# VizDoom
**/*.ini

# Data files
**/data
**/model
**/nb.py
**/*.html
**/*.log
**/*.meta

.git
