# Python
__pycache__/
*.py[cod]
*$py.class
*.egg*
*.manifest
.pytest*
.cache
build/
dist/
src/
htmlcov/
coverage.xml
.coverage*
.env
.venv
venv/
ml-agents/

# Jupyter Notebook
.ipynb_checkpoints

# NodeJS
node_modules/

# Gym
gym/

# VizDoom
*.ini

# System
.DS_Store

# Unity environment
*.app

# Data files
data/
model/
nb.py
*.html
*.log
*.meta
*.tfl*
*.xls
*.xlsx
*checkpoint*

# IDEs
.idea/
