# Python
__pycache__/
*.py[cod]
*$py.class
*.egg*
*.manifest
.cache
build/
dist/
src/
htmlcov/
.coverage
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# NodeJS
node_modules/

# System
.DS_Store

# Data files
config/
data/
model/
*.log
*.meta
*.tfl*
*.xls
*.xlsx
*checkpoint*
