# System
.DS_Store
.gitattributes

# IDEs
.idea/
.vscode
.serena

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg*
*.manifest
.pytest*
.cache
dist/
src/
htmlcov/
coverage.xml
.coverage*
.env
.mypy_cache

# NodeJS
node_modules/


# Data files
data
model/
hf_data/

nb.py
*.html
*.log
*.meta
SLM-Env
.venv/
.ruff_cache/
temp_check/
