name: release
on:
  push:
    branches:
      - master
permissions:
  contents: read
jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
